*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #bad8bf7a;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0 1vw;
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 90vh;
    overflow-y: scroll;
    border: solid 1px rgba(128, 160, 125, 0.345);
    border-radius: 10px;
    padding: 2vw;
    gap: 2vh;
    overflow-x: hidden;
    background-color: #dbf5e038;
    box-shadow: 0 0 3px #235f2b ;
}

header{
    background-color: #b8cebe;
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
}

::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #dcfde814; 
  }

.container-chat{
    display: grid;
    row-gap: 1vh;
    column-gap: 1vw;
    padding: 1.4vh 1vw;
    height: 12vh;
    border: solid rgba(179, 211, 190, 0.888) 1px;
    border-radius: 10px;
    grid-template-areas: 
        "a a b b b c c d d g"
        "a a e e e e e e e g"
        "a a f f f f f f f g";
    grid-auto-rows: 3.5vh;
    grid-auto-columns: 5% 5% 16% 5% 5% 5% 5% 5% 15%;
    place-content: left;
}


.perfil{
    grid-area: a;
    border-radius: 50%;
    height: 4.2vw;
    place-self: start;
}
.contato{
    width: 100%;
    grid-area: b;
    font-size: 1.2vw;
    font-weight: bold;
}
.notificacao{
    background-color: #235f2b;
    color: wheat;
    grid-area: c;
    width: 1.6vw;
    height: 1.6vw;
    text-align: center;
    border-radius: 50%;
    line-height: 3.2vh;
    font-size: 1vw;
}
.tempo-envio{
    grid-area: d;
    font-size: 0.8vw;
    width: 100%;
    color: #000000a4;
}
.mensagem{
    grid-area: e;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1vw;
}
.atendente{
    display: flex;
    background-color: #70cf7d;
    grid-area: f;
    font-size: 0.8vw;
    position: relative;
    width: 40%;
    border-radius: 5px;
    padding: 0.2vw 0.6vw;
    gap: 0.6vw;
    height: 80%;
    justify-content: left;
    align-items: center;
    flex-direction: row-reverse;
}
.atendente-icon{
    height: 80%;
}
.plataforma{
    position: relative;
    left: 100%;
    width: 2.6vw;
    padding: 0;
}

@media (max-width: 400px){
    .container{
        display: flex;
        flex-direction: column;
        width: 90vw;
        height: 96vh;
        align-items: center;
    }
    
    .container-chat{
        padding: 1.4vh 1vw;
        height: 12vh;
        width: 100%;
        height: 10vh;
        grid-auto-rows: 2vh;
        grid-auto-columns: 5% 5% 16% 5% 5% 5% 5% 5% 15%;
    }
    .perfil{
        height: 10vw;
    }

    .contato{
        width: 100%;
        grid-area: b;
        font-size: 1.2vw;
        font-weight: bold;
    }
    .notificacao{
        background-color: #235f2b;
        color: wheat;
        grid-area: c;
        width: 1.6vw;
        height: 1.6vw;
        text-align: center;
        border-radius: 50%;
        line-height: 3.2vh;
        font-size: 1vw;
    }
    .tempo-envio{
        grid-area: d;
        font-size: 0.8vw;
        width: 100%;
        color: #000000a4;
    }
    .mensagem{
        grid-area: e;
        white-space: nowrap;
        overflow: hidden;
        font-size: 2.4vw;
    }
    .atendente{
        font-size: 2vw;
        position: relative;
        width: 40%;
        padding: 0.2vw 0.6vw;
        gap: 0.6vw;
        height: 80%;
    }


}